# NUMBER@DEVICE_TYPE@CONNECTION_PROTOCOL@DEVICE_USER@USER_PASSWORD@ENABLE_PASSWORD@DEVICE_ADDRESS@DEVICE_PORT
1@cisco@ssh@USER@PASSWORD@none@192.168.0.1@22
2@cisco@ssh@USER@PASSWORD@ENABLEPASS@router1@22
3@cisco@ssh@USER@PASSWORD@ENABLEPASS@router2@22
4@cisco@ssh@USER@PASSWORD@none@10.200.138.5@22
5@cisco@tel@USER@PASSWORD@none@switch2@23
6@cisco@tel@USER@@PASSWORD@ENABLEPASS@10.200.203.249@23
